services:
  backend:
    build:
      context: ./backend
    container_name: bookapp-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
    container_name: bookapp-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - INTERNAL_API_BASE=http://backend:8000
    depends_on:
      - backend