services:
  backend:
    build:
      context: ./backend
    container_name: bookapp-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload